[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
tqdm = "*"
numpy = "*"
nltk = "*"

[requires]
python_version = "3.7"
